@import './config';

.cards{
    
    margin: 5rem auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    .heading{
        display: block;
        text-align: center;
        font-size: 5rem;
        margin: 5rem auto;
        h2{
           
            font-weight: 900;

        }
    }
    .card-container{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
     align-items: center;
     position: relative;
     text-align: center;
     .card{
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         .popular{
             position: absolute;
             top: -1rem;
             z-index: 100;

             background-color: $black;
             display: flex;
             justify-content: center;
             align-items: center;
             width: 12rem;
             height: 3rem;
             border: 1px solid $black;
             border-radius: 5px;
             a{
                 color: white;
                 font-size: 1.5rem;
                 padding: 2rem 3rem;
                 font-weight: 900;
                 
             }
         }
         position: relative;
         width: 35rem;
         height: 50rem;
         background-color: $white;
         margin: 2rem;
         border: 1px solid rgba(0,0,0,0.2);
         border-radius: 2%;
         box-shadow: $box-shadow;
        
         &:hover{
             background-color: $Ash;
             color: $white;
            
         }
       .card-heading{
          h2{
             color: $black;
             font-size: 2rem;
             padding: 3rem 0;
             
             
         }
       
       }
       .card-img{
        img{
            width: 45%;
            
        }
    }
    .list{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        ul{
            padding: 2rem 0;
            font-size: 1.5rem;
            line-height: 3rem;
            li{
            display: block;
            list-style: none;
                span{
                    color: $text-color;
                   padding: 1.5rem 1.2rem;
                   font-weight: 800;
                   
                }
              }
        }
        .pricing{
            display: flex;
            justify-content: center;
            align-items: center;
            .price{
                color: $black;
                font-size: 4rem;
                font-weight: 900;
                h3{
                    font-weight: 900;
                }
            }
            .month{
                color: $text-color;
                font-size: 1.8rem;
            }
        }
        .get-started-btn{
            display: flex;
            justify-content: center;
            color: $text-color;
            font-size: 1.7rem;
            width: 15rem;
            height: 5rem;
            margin: 2rem 0;
            border: 2px solid $text-color;
            border-radius: 50px 50px 50px 50px;
            align-items: center;
            a{
                color: $text-color;
                font-size: 1.7rem;
                display: block;
                

            }


        }
    }


     }
    }

}









// @media  and (max-width: 768px) {
//    .cards{
//        .heading{

//        }
//    }
// }