$black:#000000;
$white:#FFFFFF;
$Ash:#2D2D2D;
$testi:#F0F0F0;
$text-color:#7A7A7A;
$box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

@font-face {
    font-family: Poppins;
    src: url('../fonts/Poppins-Regular.ttf');
}

$fontP:Poppins;

*{
    font-family: $fontP,'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top:5.5rem ;
    scroll-behavior: smooth;
}

@media (max-width:991px){
    html{
        font-size: 50%;
    }
}


@media (max-width:450px){
    html{
        font-size: 50%;
    }
}

@keyframes header {
   0%{
       top: -1000rem;
   }
   100%{
       top: 0;
   }

    
}

@mixin header-mix {
    animation-name: header;    
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-delay: .1s;
    animation-fill-mode: both;
}

@keyframes up{
    0% {
        visibility: hidden;
        position: relative;
        top: 100rem;
    }
    50%{
        position: static;
        visibility: visible;
        top: 50rem;
    
    }
    100%{

    }
}

@mixin up {
    animation-name: up;    
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay: .1s;

}

