@import './config';

// .footer{
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     height: 30vh;
//     background-color: $black;
//     color: $white;
//     .footer-container{
//         .social-icons{
//             display: flex;
//             align-items: center;
//             justify-content: space-evenly;
//             a{
//                 color: $white;
//                 font-size: 3rem;
//                 padding: 1.2rem;
               

//             }

//         }
//         .page-link{
//             display: flex;
//             justify-content: space-evenly;
//             align-items: center;
//             a{
//                 color:$text-color ;
//                 margin:1.5rem;
//                 font-size: 1.2rem;
//                 font-weight: 800;
//             }

//         }
//         .p{
            
//             p{
//                 color: $text-color;
//                 font-size: 1.3rem;
//                 text-align: center;
//                 margin: 2rem;
            
//             }}
//         }
//         .info{
//             display: flex;
//             margin: 2rem auto;
//             ul{
//                 display: flex;
//                 list-style: none;
                
//             }

//         }
//     }


.footer{
    width: 100%;
    
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 10rem 5rem;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 25px;
    .footer_row{
        width: 85%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        justify-content: space-between;
        .footer_col{
            flex-basis: 25%;
            padding: 2rem;
            .logo{
                width: 80px;
                margin-bottom: 30px;
            }
        }
    }

}
