@import './config';


.home{
    

    position: relative;
    .home-container{ 
        .image{ 
            width: 100vw;
            height: 100vh;   
            img{
            height:100%;
            width: 100%;
            object-position: center;
            object-fit: cover;
            display: block;
            
            }
        
        }
        .content{
            text-transform: uppercase;
            width: 27%;
            padding: 5rem;
            position: absolute;
            top: 30rem;
            right: 10rem;
            bottom: 0;
            align-content: center;
            align-self: center;
            justify-content: center;
            h2{
                color: $white;
                font-weight: 900;
                font-size: 8rem;
                line-height: 7.5rem;
                text-transform: uppercase;
            }
            p{
                font-size: 1.5rem;
                color: $text-color;
                padding: 3rem 0 3rem 0;
                line-height: 2rem;
            }
            a.btn{
                
                background-color:$Ash;
                font-size: 2rem;
                color: $white;
                padding: 1.5rem 3rem;
                text-transform: uppercase;
                font-weight: 600;
                span{
                    text-transform: uppercase;
                    font-size: 2rem;
                    font-weight: 800;
                    
                }
                i{
                    padding: 1rem;
                }
                &:hover{
                    color: $black;
                    background-color: $text-color;
                    transform: skew(-10deg);
                }
            }
        }
    }
}


@media screen and (max-width: 768px){
    .home{
        position: relative;
        .home-container{ 
           
            .image{ 
                 
                img{
                    width: 100vw;
                    height: 100vh;  
                object-position: center;
                object-fit: cover;
                
                }
            
            }
            .content{
                text-transform: uppercase;
                width: 70%;
                padding: 1rem;
                position: absolute;
                top: 27rem;
                right: 0;
                bottom: 0;
                display: inline-block;
                h2{
                    color: $white;
                    font-weight: 900;
                    font-size: 5rem;
                    line-height: 4.5rem;
                    width: 50%;
                }
                p{
                    font-size: 1.5rem;
                    color: $text-color;
                    padding: 2rem 0 2rem 0;
                    line-height: 2rem;
                    
                }
                .btn{
                
                    background-color:$Ash;
                    font-size: 3rem;
                    color: $white;
                    padding: 1.5rem 2rem;
                    text-transform: uppercase;
                    font-weight: 600;
                    
                    i{
                        padding: 0 1rem 0 0 ;
                    }
                }
            }
        }
    }
}



@media (min-width:200px) and (max-width: 280px){
    .home{
        background-image: linear-gradient(to right, rgba(0,0,0,1) rgba(0,0,0,1));
        height: 100%;
        width: 100%;
        .home-container{
            .content{
                h2{
                    font-size: 3.5rem;

                }
                P{
                    font-size: 1.4rem;

                }
                a.btn{
                
                    background-color:$Ash;
                    font-size: 1.5rem;
                    color: $white;
                    padding: 1.5rem 2rem;
                    text-transform: uppercase;
                    font-weight: 700;
                    span{
                        text-transform: uppercase;
                        font-size: 1.7rem;
                        
                    }
                
                
                }
            }
            }
        
      
    }
}



@media (min-width:1000px) and (max-width: 1024px){
    .home{
        background-image: linear-gradient(to right, rgba(0,0,0,1) rgba(0,0,0,1));
        height: 100%;
        width: 100%;
        .home-container{
            .content{
                width: 50%;
                right: -5rem;
                h2{
                    font-size: 5rem;
                    width: 50%;
                    line-height: 5rem;

                }
                P{
                    font-size: 1.3rem;

                }
                a.btn{
                
                    background-color:$Ash;
                    font-size: 1.5rem;
                    color: $white;
                    padding: 2rem 3rem;
                    text-transform: uppercase;
                    font-weight: 700;
                    span{
                        text-transform: uppercase;
                        font-size: 1rem;
                        
                    }
                
                
                }
            }
            }
        
      
    }
}